[submodule "libindy/cosmos-sdk-go"]
	path = libindy/cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "libindy/verim-cosmos"]
	path = libindy/verim-cosmos
	url = https://github.com/verim-id/verim-cosmos.git
