[submodule "libindy/cosmos-sdk-go"]
	path = libindy/cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "libindy/cheqd-node"]
	path = libindy/cheqd-node
	url = git@github.com:cheqd/cheqd-node.git
